name: SBGitActBDMySQL

on:
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          cache: 'maven'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install
        #run: mvn -B clean install

      - name: Run tests
        run: mvn test
